{% extends "layout.html" %}
{% block content %}
<table class="result_table">
    <tr>
        <th colspan="5">Recent Games</th>
    </tr>
    {% for game in data %}
      <tr>
        <td>
          <img src="static/images/champion/{{ data[game]['championName'] }}.png" class="img_champ">
        </td>
        <td>
          {{ data[game]["win"] }}
        </td>
        <td>
          {{ data[game]["kda"] }}
        </td>
        <td>
          {% for item in data[game]["items"] %}
            <img src="static/images/item/{{ item }}.png" class="img_item">
          {% endfor %}
        </td>
        <td>
          {{ data[game]["enemys"] }}
        </td>
      </tr>
    {% endfor %}
</table>
{% endblock content %}