{% extends "layout.html" %}
{% block content %}
<table class="result_table">
    <tr>
        <th colspan="5">Recent Games</th>
    </tr>
    {% for game in data %}
        {% for keys in data[game] %}
          <td>{{ data[game][keys] }}</td>
        {% endfor %}
    {% endfor %}
</table>
{% endblock content %}
<!-- {'EUW1_6101420783': {'championName': 'Lux', 'win': True, 'kda': [3, 4, 11], 'items': [3853, 3108, 2031, 6655, 3020, 3145], 'enemys': ['malοu', 'Karini', 'ZarKaSama', 'TacchinoMeschino', 'Fam0s', 'Venom Dei', 'Kîră', 'Coach Kryoo', 'CringePoppetje', 'Metalonot']}} -->
